<div>
    <h2 id="page-heading">
        <span>Kanji Records</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kanjiRecords">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Value</span></th>
            <th><span>Hiragana</span></th>
            <th><span>Katakana</span></th>
            <th><span>Meaning</span></th>
            <th><span>Creator</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kanjiRecord of kanjiRecords ;trackBy: trackId">
                <td>{{kanjiRecord.value}}</td>
                <td>{{kanjiRecord.hiragana}}</td>
                <td>{{kanjiRecord.katakana}}</td>
                <td>{{kanjiRecord.meaning}}</td>
                <td  [ngClass]="{'font-weight-bold': currentAccount.login === kanjiRecord.creator.login}">
                    {{kanjiRecord.creator?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/kanji-record', kanjiRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" *ngIf="currentAccount.login === kanjiRecord.creator.login"
                                [routerLink]="['/kanji-record', kanjiRecord.id, 'edit']"
                                class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kanji-record', kanjiRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Copy</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
