<div class="row" style="display: block; text-align: center;">
    <div>
        <div *ngIf="isHomeStart()">
            <h1 class="display-4">Welcome to G-Jisho!</h1>
            <p>
                G-Jisho is the service for personal dictionaries for japanese kanji. <br>
                If you want to use it, plese sign in or register a new account.
            </p>
            <br>
        </div>
        <div *ngIf="isYourDictionaries()">
            <h1 class="display-4">Your dictionaries</h1>
            <p>
                Manage your dictionaries here
            </p>
            <br>
        </div>
        <div *ngIf="isOtherDictionariest()">
            <h1 class="display-4">Dictionaries of other people</h1>
            <p>
                Here is the list of personal dictionaries of other users
            </p>
            <br>
        </div>
        <div *ngIf="isFindKanji()">
            <h1 class="display-4">Find kanji</h1>
            <p>
                You can find records of specified kanji of other users.
            </p>
            <br>
        </div>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true" style="display: flex">
                <div routerLink="dictionary" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-triada">
                    <span>Dictionaries</span>
                </div>
                <div class="menu-triada">
                <span>Find Kanji</span>

                </div>
            </div>



            <div *ngSwitchCase="false">
                <button type="button" class="btn btn-primary" (click)="login()">Sign in</button> or
                <button type="button" class="btn btn-primary" routerLink="register">Register</button>
            </div>
        </div>
    </div>
</div>
